/* Estilo do container da página de registro */

.register-container {
  background-color: #FFF5E1; /* Fundo leve com tom de laranja */
  padding: 40px;
  border-radius: 10px;
  max-width: 400px;
  margin: auto; /* Centraliza horizontalmente */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centraliza verticalmente */
}


/* Título da página */
.register-title {
  color: #FF8C00; /* Laranja escuro */
  font-size: 24px;
  margin-bottom: 20px;
}

/* Input fields */
.input-field {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 2px solid #FFA500; /* Borda laranja */
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

/* Botão de registro */
.register-button {
  background-color: #FFA500; /* Laranja */
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Botão hover */
.register-button:hover {
  background-color: #FF8C00; /* Laranja escuro no hover */
}

/* Mensagem de erro */
.error-message {
  color: red;
  margin-bottom: 15px;
}

/* Texto de login */
.login-text {
  margin-top: 20px;
  color: #333;
}

/* Link de login */
.login-link {
  color: #FFA500; /* Laranja */
  text-decoration: none;
}

.login-link:hover {
  color: #FF8C00; /* Laranja escuro no hover */
}
